
body {
  font-family: sans-serif;
}

.calendar {
  width: 350px;
}

.days-header,
.header  {
  width: 100%;
  text-align: center;
}

.days-header {
  border-width: 1px 0px 1px 0px;
  border-color: #94a392;
  border-style: solid;
}

.date,
.weekday,
.day {
  min-width: 40px;
  width: 14%;
  display: inline-block;
  text-align: center;
}

.weekday {
  border: none;
  margin: 0 auto;
  padding: 0;
}
.row {
  width: 100%;
  text-align: center;
}

.day {
  border-color: black;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  height: 20px;
}

.control {
  display: inline-block;
  width: 50%;
  text-decoration: underline;
}

.control:hover {
  cursor: pointer;
}

.prev {
  text-align: left;
}
.next {
  text-align: right;
}
